*{
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    text-align: center;
    background: white;
    background-image: url("images/voetbalveld.jpg");
    background-position: 60% 69%;
    background-size: cover;

  }
  
  .header h1 {
    font-size: 50px;
    color: black;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    background-color:rgb(22, 97, 22);
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
 
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  .topnav a.active {
    background-color: black;
    color: white;
  }

  .formelem{
    width: 400px;
  }
.form{
text-align: center;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;  
}

h1{
  font-size: 20px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
/* opmaak producten */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  padding-bottom: 5px;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.4;
}

/* footer */
footer {
  text-align: center;
  padding: 3px;
  background-color: white;
  color: white;
}

.koptekst h1 {
  text-align: center;
  font-size: 24px;
}

.productlink{
  text-align: center;
}


.tekst{
  text-align: center;
  font-size: 24px;
  float: center;
  margin: auto;
}